.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    background-color: #5C8374;
    border: solid 4px #183D3D;
    border-radius: 12px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      border-color: $tertiary-color;
    }

    &.activity {
      border-color: $tertiary-color;
    }
  }
}
