.card {
  position: relative;
  width: 100%;
  padding: 15px 15px 10px;
  cursor: pointer;

  .background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 89%;
    height: 89%;
    background-color: $secondary-color;
    border-radius: 8px;
    transition: width 0.3s, height 0.3s;
  }

  .like {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: transform 0.5s;
    transform: translateX(10px) scale(0);
    transform-origin: center right;
  }

  &:hover {
    .background {
      width: 100%;
      height: 100%;
    }

    .like {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  .main {
    position: relative;
    z-index: 2;

    .preview {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      aspect-ratio: 5/4;
      overflow: hidden;
      background-color: rgba(165, 201, 202, 0.8);
      border-radius: 6px;

      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        aspect-ratio: 5/4;
        object-fit: contain;
      }
    }

    .name {
      width: 100%;
      margin-top: 10px;
      overflow: hidden;
      font-size: 20px;
      line-height: 21px;
      color: $light-color;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// @media screen and (max-width: 900px) {
//   .card {
//     .background {
//       width: 100%;
//       height: 100%;
//     }

//     .like {
//       opacity: 1;
//       transform: translateX(0) scale(1);
//     }
//   }
// }
