.shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);

  .content {
    display: flex;
    transition: all 0.3s;
    transform: scale(0);
    transform-origin: center;

    &_show {
      transform: scale(1);
    }
  }
}
