.page {
  min-width: 780px;
  max-width: 980px;
  margin: 0 auto;

  .main {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 25px 20px 40px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 20px;
    border-top-right-radius: 0px;
  }

  .Components {
    background-color: $primary-color;
  }

  .Profiles {
    background-color: $secondary-color;
  }
}
