.page {
  max-width: 980px;
  margin: 0 auto;

  .main {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 25px 20px 40px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 20px;
    border-top-right-radius: 0px;
  }

  .components {
    background-color: $primary-color;
  }

  .profiles {
    background-color: $secondary-color;
  }
}

@media screen and (max-width: 700px) {
  .page {
    .main {
      margin-bottom: 0px;
      border-radius: 0px;
    }
  }
}

