$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: $primary-color; }
	25% { stroke: $secondary-color; }
	50% { stroke: $tertiary-color; }
	75% { stroke: $light-color; }
  100% { stroke: $primary-color; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform: rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform: rotate(450deg);
 }
}