.container {
  position: relative;

  .nav {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;

    .i18nSwitch {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 28px;
    }

    .githubIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    .coffeeIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-left: 10px;
      background-color: $light-color;
      border-radius: 6px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .title {
    position: relative;
    padding-top: 120px;
    .titleText {
      font-size: 140px;
      line-height: 130px;
      color: transparent;
      text-align: left;
      background-image: linear-gradient(to right, $primary-color, $secondary-color, $tertiary-color);
      -webkit-background-clip: text;
    }
  }

  .subTitle {
    position: relative;

    .subTitleText {
      text-align: right;
    }

    .subTitleIcon {
      position: absolute;
      top: 0em;
      right: -1em;
      z-index: 2;
      padding: 1px 8px;
      font-size: 24px;
      color: #662549;
      cursor: pointer;
      background-color: #DE8F5F;
      border-radius: 11px;
      transition: transform 1s;
      transform: rotateY(0deg) rotate(15deg);

      &:hover{
        transform: rotateY(180deg) rotate(15deg);
      }
    }
  }

  .desc {
    margin-top: 20px;
    margin-left: 6px;
    font-size: 40px;
    color: transparent;
    text-align: left;
    background-image: linear-gradient(to right, $tertiary-color, $secondary-color, $primary-color);
    -webkit-background-clip: text;
    transform: rotate(2deg);
  }
}

@media screen and (min-width:  700px) and (max-width: 980px) {
  .container {
    padding: 0 30px;

    .title {
      .titleText {
        font-size: 100px;
        line-height: 110px;
      }

      .subTitle {
        .subTitleText {
          font-size: 100px;
          line-height: 110px;
        }

        .subTitleIcon {
          top: 0px;
          right: 0px;
          font-size: 18px;
        }
      }
    }

    .desc {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 15px;

    .title {
      padding-top: 70px;

      .titleText {
        font-size: 80px;
        line-height: 90px;
      }

      .subTitle {
        .subTitleText {
          font-size: 80px;
          line-height: 90px;
        }

        .subTitleIcon {
          top: -5px;
          right: 0;
          font-size: 14px;
        }
      }
    }

    .desc {
      font-size: 20px;
    }
  }
}

