.love {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(10px) scale(0);
  transform-origin: center right;

  .loveIcon {
    width: 100%;
    height: 100%;
  }
}
